In [1]:
#Question 1
import pandas as pd

data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)
series

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [3]:
#Question 2
a=[1,2,3,4,5,6,7,8,9,10]
s1=pd.Series(a)
s1

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [6]:
#Qusetion 3
df= pd.read_csv("shaury practice csv.csv")
df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

#Question 4
Data frame= DataFrame as a whole table it has rows and columns with labels.

series= it is like a single column from that table.

DFexample=
df= pd.read_csv("shaury practice csv.csv")
df

Series example=df['name']

#Question 5
#Some common example for data manipulation are
df.head(2)# we are using for get first 2 row of data 
df.tail(2)# we use this for getting last 2 row of data
df.to_csv()# this is used save changed csv file in local computer
df['Name']#it extract the single row from a coloum
df.columns #this is used for getting all columns

#Question 6
in pandas case both dataframes pane everything is mutable

In [ ]:
#Question 7
#Qusetion 3
df= pd.read_csv("shaury practice csv.csv")
df.colunm